@use '../../../../theme/utility'as utility;
@use '../../../../theme/animations' as *;
.activity-container {
  min-height: 290px;
  display: flex;
  
  &.activity {
    flex-direction: column;
    align-items: center;
    @include scale-in-center($duration: .5s);
    .art-frame {
      margin-block: 1rem;
      background-image: url('../../../../assets/found.gif');
      flex: 8rem 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 10rem;
      @include utility.retro-border-shadow($shadow: var(--purple), $border: var(--pink));
    }

    .message {
      margin-top: 10px;
      text-align: center;
    
      .content:first-of-type {
        font-weight: 500;
        text-transform: capitalize;
      }

      .content:last-of-type {
        text-transform: uppercase;
        font-weight: 600;
        background-color: var(--purple);
        color: var(--yellow-none);
        padding-inline: 0.5rem;
      }
    }

    .activity-wrapper {
        margin-block: 1rem;
        margin-inline: 1rem;
        @include utility.retro-border-shadow($border: var(--green), $display-shadow: false);
        .content {
            padding-inline: 10px;
            text-align: center;
            font-weight: bold; 
        }
        .about-activity {
            padding-inline: 10px;
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
  }

  &.no-activity {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .art-frame {
      margin-block: 10px;
      background-image: url('../../../../assets/LedTg-1490042548-embed-01.jpeg');
      flex: 10rem 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      width: 15rem;
      @include utility.retro-border-shadow($shadow: var(--purple), $border: var(--pink));
    }

    .message {
      text-align: center;
      margin-top: 10px;
      
      .content:first-of-type {
        font-weight: 500;
        text-transform: capitalize;
      }

      .content:last-of-type {
        text-transform: uppercase;
        font-weight: 600;
        background-color: var(--purple);
        color: var(--yellow-none);
        padding-inline: 0.5rem;
      }
    }
  }

  &.error {
    flex-direction: column;
    align-items: center;
    @include scale-in-center($duration: .5s);
    .art-frame {
      margin-block: 1rem;
      background-image: url('../../../../assets/sorry.gif');
      flex: 7rem 0 0;
      background-size: contain;
      background-repeat: no-repeat;
      width: 7rem;
      @include utility.retro-border-shadow($shadow: var(--purple), $border: var(--pink));
    }

    .message {
      margin-top: 10px;
      text-align: center;
    
      .content:first-of-type {
        font-weight: 500;
        text-transform: capitalize;
      }

      .content:last-of-type {
        text-transform: uppercase;
        font-weight: 600;
        background-color: var(--purple);
        color: var(--yellow-none);
        padding-inline: 0.5rem;
      }
    }

    .joke {
      margin-block: 10px;
      margin-inline: 1rem;
      @include utility.retro-border-shadow($border: var(--purple), $display-shadow: false);

      .joke-title,
      .joke-content {
        padding-inline: 10px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
