@use './mixin' as *;
@use './keyframes' as *;

@forward './keyframes';
@forward './mixin';


$duration-list: 200, 250, 500, 1000;
$delay-list: 0, 1000, 1500, 2000, 2500, 3000 ;



/*=================Classes===========================*/
.shake-lr {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@include generate-scale-in-center-classes($duration-list, $delay-list);
@include generate-scale-in-ver-center-classes($duration-list, $delay-list);

/* =================================================== */


/*====================================================*/