:root {
    --pink: #f24bd6;
    --purple: #705cf2;
    --green: #05f240;
    --yellow: #fee550;
    --blue: #05dbf2;
    --pink-none: #f24bd6;
    --purple-none: #705cf2;
    --green-none: #05f240;
    --yellow-none: #fee550;
    --blue-none: #05dbf2;
    --main-bg: #fff;
    --white: #fff;
    --black: #000;
    --grid-bg: linear-gradient(#3a2dff21 2px, transparent 2px), linear-gradient(90deg, #3a2dff21 2px, transparent 2px);
    --blk-shadow: #000;
    --highlight: #fee550;
    --linkhover: #000;
    --nav-link: #f24bd6;
    --text-stroke: transparent;
    --fresh: #fee550;
    --social-hover: #705cf2;
    --focus: #fffecf;
    --animation-duration: 2.5s;
    --border-width: 3px;
    --border-radius: 4px;
    --shadow-X: 5px;
    --shadow-Y: 8px;
    --normal-font-size: 1rem;
    --body-font:  mono, monospace;
    --tiny-font-size: 0.6rem;
}