<div class="board-wrapper px-3 pb-2">
  <header class="header logo flex w-auto">
    <app-logo text="Activteller"></app-logo>
  </header>
  <article class="about">
    <p>{{messages.welcome.question}}</p>
    <p>{{messages.welcome.answer}}</p>
    <div class="accent-wrapper flex">
      <div class="accent accent-right mt-5">
        <div class="rect-1"></div>
        <div class="rect-2 purple-bg"></div>
      </div>
    </div>
  </article>
  <section class="controls no-border">
    <button id="add-player-btn" class="retro-btn {{highlightBtn ? 'shake-lr': ''}}" (click)="addPlayerInBoard()"><i class="gg-user-add"
        aria-hidden="true"></i>Add Participants!</button>
    <button id="fetch-activity-btn" class="retro-btn" (click)="fetchActivity()"><i class="gg-infinity"
        aria-hidden="true"></i> Find A Random Activity!</button>
  </section>

  <section class="output no-border">
    <app-shell-view shellId="activity">
      <h1 class="font-bold" s-header>Activity</h1>
      <app-activity s-body [activity]="_BoardService.activity$ | async"></app-activity>
    </app-shell-view>
  </section>

  <section class="player-list no-border">
    <app-shell-view shellId="participant">
      <h1 class="font-bold" s-header>Participants ({{_BoardService.playerCount$ | async }})</h1>
      <app-player-list s-body [playerList]="_BoardService.players$ | async"></app-player-list>
    </app-shell-view>
  </section>
</div>
<div class="btn-wrapper">
  <button (click)="startTutorial()" id="tutorial-btn" class="retro-icon-btn with-hint display-hint">
    <i class="gg-play-button" aria-hidden="true"></i>
    <label class="hint" for="#tutorial-btn">Play Tutorial!</label>
  </button>
</div>
<dialog class="modal" #addParticipantDialog id="add-participant">
  <app-register-player [dialogRef]="addParticipantDialog"></app-register-player>
</dialog>
