/* You can add global styles to this file, and also import other style files */
@use './theme/utility'as *;
@use './theme/variables'as *;
@use './theme/animations'as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';
@import '../node_modules/shepherd.js/dist/css/shepherd.css';
html,
body {
  height: 100%;
}

body {
  background: var(--main-bg);
  font-family: mono, monospace;
  margin: 0;
  @extend .grid-bg;
  position: relative;
}



.shepherd-content {
  padding: 5px;
}