$shadow: var(--pink);
$stroke: var(--blue);

:host {
  height: 100%;
  width: 100%;
}

svg {
  font-family: monospace;
  width: 100%;
  height: 100%;

}


svg text.main {

  text-transform: uppercase;
  animation: stroke var(--animation-duration) forwards;
  stroke-width: 2;
  font-size: 140px;
  letter-spacing: 0.12em;
}

@keyframes stroke {
  0% {
    fill: transparent;
    stroke: $stroke;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: transparent;
    stroke: $stroke;
  }

  80% {
    fill: transparent;
    stroke: $stroke;
    stroke-width: 3;
  }

  100% {
    fill: $stroke;
    stroke: transparent;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    text-shadow: 4px 4px $shadow;
  }
}
